.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}


.car-body{
  border-radius: 1rem;
  box-shadow: 0px 0px 10px  rgb(149, 149, 149);
  width: 20rem;
  margin: 2rem;
  /* background: linear-gradient(-35deg,rgba(160, 253, 255, 1) 0%, rgba(135, 253, 255, 1) 50%, rgba(255, 255, 255, 1)); */
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 2rem;
  height: 20rem;
}
.car-body:hover{
  box-shadow: 0px 0px 5px  rgb(77, 77, 77);
}

.feature-box{
  display: flex;
  flex-direction: column;
}

.feature-icon{
  font-size: 2rem;
  color: rgb(0, 0, 0);
  margin-bottom: 1rem;
}

.feature-description{
  height: 7rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
}

.feature-title{
  font-size: 1rem;
  font-weight: 700;
  height: 2rem;
}

.choose-us-title h2{
  /* text-align: center; */
  border-left: 0.8rem solid rgba(99, 252, 255, 0.848);
  border-radius: 1rem;
  padding: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

.choose-us-section{
  margin: 3rem;
}


