/* Add these styles to your Projects.css file */

.projects h1{
  text-align: center;
  padding-top: 2rem;
}
.project-img {
  width: 50%;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px rgb(58, 58, 58);
  margin: 2rem;
  align-self: center; /* Vertically center the image within the grid cell */
  justify-self: center; /* Horizontally center the image within the grid cell */
  border-bottom: 2px solid black;
}
.project-img:hover{
  transform: translateY(-2rem);
  box-shadow: 0px 0px 25px rgb(32, 32, 32);
  transition: 0.5s ease-in-out;
}
.project-gallery {
  display: grid;
  padding: 1rem;
  gap: 0px 40px;
  grid-template-columns: 1fr;
  justify-items: center; /* Horizontally center the grid items within the grid container */
}

@media screen and (max-width : 720px) {
    .project-img:hover{
      transform: translateY(-0.5rem);
  transition: 0.5s ease-in-out;
    }
    .project-gallery{
      gap: 0px 10px;
    }
}

.projects{
  background: linear-gradient(#ffffff , #ffc34b);
}